main {
  display: flex;
  max-height: 200px;
  align-items: center;
  justify-content: center;
}
.textfield {
  text-align: justify;
  align-content: center;
  max-width: 500px;
  color: white;
  font-size: 1.1em;
  font-family: Quicksand;
}
