.main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.main p{
  max-width: 900px;
  text-align: justify;
  padding: 20px;
  background-color: white;
  color: #FF5722;
  font-size: 1.1em;
  font-family: Quicksand;
}
