.hero-text {
  color: white;
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 30px;
}
.hero-wrapper {
  padding-top: 200px;
  padding-left: 100px;
  width: 800px;
}
@media (max-width: 800px) {
  .hero-wrapper {
    width: 500px;
  }
}
@media (max-width: 600px) {
  .hero-wrapper {
    text-align: justify;
    width: 400px;
  }
}
@media (max-width: 500px) {
  .hero-wrapper {
    text-align: justify;
    width: 300px;
  }
}
.hero-textfield {
  padding-top: 20px;
  color: white;
  text-align: justify;
  font-family: Quicksand;
}
