.main-text {
  max-width: 800px;
  padding-top: 150px;
  padding-left: 50px;
}
.main-text p {
  font-family: Quicksand;
  color: white;
  text-align: justify;
}
.hero-side-buttons a {
  float: right;
  margin-top: -50px;
  display: block;
  color: white;
  font-family: Quicksand;
  text-decoration: none;
}
