.main-text {
  max-width: 800px;
  padding-top: 150px;
  padding-left: 50px;
}
.main-text p {
  font-family: Quicksand;
  color: white;
  text-align: justify;
}
.hero-side-buttons {
  float: right;
}
.hero-side-buttons li a {
  color: white;
  text-decoration: none;
  list-style-type: none;
  font-family: Quicksand;
}
